.loaderText {
    font-size: 24px;
    font-weight: 700;
    width: 200px;
    text-align: center;
    font-family: 'Lato';
}

.toc {
    position: sticky;
    position: -webkit-sticky;
    top: 48px;
    width: 25%;
    min-width: 20%;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    margin: 8px;
    align-self: flex-start;
    max-height: calc(100vh - 40px);
    overflow: auto;
}

.toc ul {
    padding-bottom: 3%;
}

.toc .a1Black, .toc .a2Black {
    color: black;
    text-decoration: none;
}

.toc .a1White, .toc .a2White {
    color: white;
    text-decoration: none;
}

.c {
    width: 78%;
    min-width: 78%;
    padding: 2%;
}

.c h1 {
    text-align: center;
}

.NavBar .aBlack {
    color: black;
    text-decoration: none;
}

.NavBar .aWhite {
    color: white;
    text-decoration: none;
}

.NavBar ul li{
    display: inline;
    list-style-type: none;
    margin-top: 1em;
    padding-right: 20px;
}

.About-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.About .Layout {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NoMatch {
    position: absolute;
    top: 25%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 50%;
}

.NoMatch .Img {
    max-height: 80%;
    max-width: 60%;
}

.NoMatch .ErrorText {
    font-size: 80px;
}

.tocUlOuter {
  list-style-type: none;
  padding-left: 0;
}

.tocUlInner {
  list-style-type: none;
  padding-left: 6%;
}

